* {
  box-sizing: border-box;
}
/* body {
  font-size: 14px;
} */
html,
body {
  width: 100%;
  /* height: 100%; */
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.row {
  margin: auto;
}
/* <!-- Top Bar Section----------------------------------------------------- --> */
.top-bar {
  width: 100%;
  height: 60px;
  background-color: #3f075c;
  position: relative;
}
.thai-logo {
  height: 40px;
}
.page-name {
  font-family: "Bebas Neue", sans-serif;
  color: #ffffff;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.45px;
  margin: 0;
}
.hamberger-btn {
  background-color: #3f075c;
  border: none;
  height: 30px;
  position: absolute;
  right: 0;
}
/* <!-- Side Bar Section----------------------------------------------------- --> */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #3f075c;

  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidebar .closebtn {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
#user-box {
  height: 50px;
  margin-left: 15px;
  margin-right: 10px;
  border-bottom: 2px solid white;
}
.USER_IMAGE {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.USER_NAME {
  color: #e6e6e6;
  font-size: 12px;
  font-weight: 500;
}
.sidebar a {
  border-bottom: 1px solid white;
  padding: 5px 1px 5px 1px;
  text-decoration: none;
  font-size: 25px;
  line-height: 26px;
  letter-spacing: 0.45px;
  font-family: "Bebas Neue", sans-serif;
  color: #ffffff;
  display: block;
  transition: 0.3s;
  white-space: nowrap;
  margin-left: 15px;
  margin-right: 10px;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.nav-active {
  border: none !important;
  margin-left: 0 !important ;
  margin-right: 0 !important;
  padding-left: 16px !important;
  background-color: #b1007b;
}
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
  .content {
    background-color: #fbf8f8;
  }
}
/* <!-- Table Filter Section----------------------------------------------------- --> */
#timezone-switch {
  border: 3px solid #3d394a;
  height: 27px;
  width: 40px;
}
#timezone-switch:checked {
  background-color: #3d394a;
}
.checkbox-text {
  font-family: "Bebas Neue", sans-serif;
  display: inline-block;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0;
  color: #cbc6c6;
  margin: 0;
}
.table-head {
  height: 45px !important;
  border-bottom: 3px solid #707070;
}
.table-head > div:nth-of-type(1) {
  font-family: "Bebas Neue", sans-serif;
  color: #755fbc;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
  font-style: normal;
  font-weight: 400 !important;
  padding-left: 0;
  padding-right: 0;
}
.table-body-row > div:nth-of-type(1) {
  font-family: "Bebas Neue", sans-serif;
  color: #755fbc;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
  font-style: normal;
  font-weight: 400 !important;
  padding-left: 0;
  padding-right: 0;
}
.table-header {
  font-family: "Bebas Neue", sans-serif;
  color: #755fbc;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
  font-style: normal;
  font-weight: 400 !important;
  padding-left: 0;
  padding-right: 0;
}
.table-body-row {
  height: 45px !important;
  border-bottom: 1px solid #707070;
}
.form-check > label {
  font-family: "Bebas Neue", sans-serif;
  color: #3d394a;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
}
.table-text {
  font-family: "Bebas Neue", sans-serif;
  color: #3d394a;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-top: 0;
  margin-right: 0.7em;
}
input[type="checkbox"]:checked {
  background-color: #755fbc;
}
/* .custom-checkbox {
  width: 20px;
  height: 20px;
  margin-top: 0;
  margin-right: 0.7em;
}
.custom-checkbox:checked {
  background-color: #755fbc;
} */
.select-box {
  height: 25px;
  width: 65px;
  border: 1px solid #755fbc;
}
/* <!-- Data Table Section----------------------------------------------------- --> */

.ACKD-btn {
  background-color: #755fbc;
  width: 60px;
  height: 24px;
  font-family: Source Sans Pro;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0;
  color: white;
  border: none;
}
.ACKD-btn-disabled {
  background-color: #cbc6c6;
  width: 60px;
  height: 24px;
  font-family: Source Sans Pro;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0;
  color: white;
  border: none;
}
.data-table-head > tr > th {
  font-family: "Bebas Neue", sans-serif;
  color: #755fbc;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
  font-style: normal;
  font-weight: 400 !important;

  text-align: center;
}
/* .data-table-header {
  font-family: "Bebas Neue", sans-serif;
  color: #755fbc;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
  font-style: normal;
  font-weight: 400 !important;

  text-align: center;
} */
#updated-time {
  font-family: "Bebas Neue", sans-serif;
  color: #0a0a0a;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0;
  font-weight: 400 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: right;
}
.data-table-body > tr > td {
  font-family: "Bebas Neue", sans-serif;
  color: #3d394a;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center;
}
/* .data-table-text {
  font-family: "Bebas Neue", sans-serif;
  color: #3d394a;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center;
} */
