* {
  box-sizing: border-box;
}
/* body {
  font-size: 14px;
} */
html,
body {
  width: 100%;
  /* height: 100%; */
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.row {
  margin: 0;
}

button:focus {
  border: 2px solid rgb(177, 175, 175);
}
/* <!-- Top Bar Section----------------------------------------------------- --> */
.top-bar {
  width: 100%;
  height: 60px;
  background-color: #3f075c;
  position: relative;
}
.thai-logo {
  height: 40px;
}
.page-name {
  font-family: "Bebas Neue", sans-serif;
  color: #ffffff;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.45px;
  margin: 0;
}
.hamberger-btn {
  background-color: #3f075c;
  border: none;
  height: 30px;
  position: absolute;
  right: 0;
}
/* <!-- Side Bar Section----------------------------------------------------- --> */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #3f075c;

  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidebar .closebtn {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
#user-box {
  height: 50px;
  margin-left: 15px;
  margin-right: 10px;
  border-bottom: 2px solid white;
}
.USER_IMAGE {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.USER_NAME {
  color: #e6e6e6;
  font-size: 12px;
  font-weight: 500;
}
.sidebar a {
  border-bottom: 1px solid white;
  padding: 5px 1px 5px 1px;
  text-decoration: none;
  font-size: 25px;
  line-height: 26px;
  letter-spacing: 0.45px;
  font-family: "Bebas Neue", sans-serif;
  color: #ffffff;
  display: block;
  transition: 0.3s;
  white-space: nowrap;
  margin-left: 15px;
  margin-right: 10px;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.nav-active {
  border: none !important;
  margin-left: 0 !important ;
  margin-right: 0 !important;
  padding-left: 16px !important;
  background-color: #b1007b;
}
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
/* <!-- Time Header Section----------------------------------------------------- --> */
.time-header {
  width: 100%;
  height: 35px;
  padding-left: 15px;
  padding-right: 10px;
  margin-right: 0;
}
.CURRENT_TIME {
  font-family: "Bebas Neue", sans-serif;
  color: black;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
  font-style: normal;
  font-weight: 400 !important;
  margin-left: 10px;
}
#timezone-switch {
  border: 3px solid #3d394a;
  height: 27px;
  width: 40px;
  margin-right: 0;
}
#timezone-switch:checked {
  background-color: #3d394a;
}
.checkbox-text {
  font-family: "Bebas Neue", sans-serif;
  display: inline-block;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0;
  color: #cbc6c6;
  margin: 0;
}
/* <!-- Flight Data Section---------------------------------------------------  --> */
#flt-data {
  width: 100%;
  height: 500px;
}
#flt_info {
  background-color: #e6e6e6;
}
/* <!-- Aircraft Information Section------------------------------------ --> */
#flt_info > div > div:not(:first-of-type) {
  color: #3d394a;
  font-weight: 400;
  padding-left: 5px;
  padding-right: 5px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.45px;
}
#ac_info > div > div:not(:first-of-type) {
  color: #3d394a;
  font-weight: 400;
  padding-left: 5px;
  padding-right: 5px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.45px;
}
/* .table-data {
  color: #3d394a;
  font-weight: 500;
  padding-left: 5px;
  padding-right: 5px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.45px;
} */
.text-lg {
  font-size: 25px;
  line-height: 30px;
}
.text-md {
  font-size: 20px;
  line-height: 25px;
}
#ac_info {
  background-color: #f8f5f5;
}
.table-topic {
  height: 30px;
  border-bottom: 1px solid #d2cfcf;
  font-family: "Bebas Neue", sans-serif;
  color: #755fbc;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.45px;
  padding-left: 5px;
  padding-right: 5px;
}
.table-spacing {
  height: 10px;
}
.light-purple {
  color: #755fbc;
}
.text-red {
  color: #bf2c1b;
}

/* <!-- Nav Tabs Section--------------------------------------- */

.nav-pill > .nav-item > button.active {
  color: white;
  background-color: #3f075c !important;
}
.nav-pill > .nav-item > button {
  border: none;
}
.nav-item > button,
.nav-item > button:hover,
.nav-item > button:focus {
  text-decoration: none;
  background-color: #cbc6c6;
  color: white;
  width: 100%;
  padding: 0;
  border-radius: 10px 10px 0 0;
  height: 38px;
  font-size: 14px;
  font-weight: 600;
}

.nav-item > button.active:hover,
.nav-item > button.active:focus {
  color: white;
  background-color: #3d394a;
  font-size: 14px;
}

.nav-item {
  width: 50%;
  text-align: center;
}
.tab-pane {
  background-color: #fbf8f8;
}
.time-stamp-bar {
  width: 100%;
  height: 19px;
  font-size: 12px;
  letter-spacing: 0px;
  color: #0a0a0a;
  line-height: 19px;
  text-align: end;
}
/* <!-- FLIGHT Preparation Pane---------------- --> */
.header-bar {
  font-family: "Bebas Neue", sans-serif;
  width: 100%;
  height: 30px;
  background: #3f075c 0% 0% no-repeat padding-box;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 2px;
  font-weight: 400;
  color: #ffffff;
  text-align: end;
  padding-right: 0.75rem;
  padding-top: 4px;
}
.data-row {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
}
.data-row > div:nth-of-type(1) {
  font-family: "Bebas Neue", sans-serif;
  font-size: 19px;
  line-height: 24px;
  font-weight: 500;
  color: #3d394a;
  padding-left: 0.5em;
  padding-right: 0;
  padding-top: 4px;
  letter-spacing: 0px;
  display: flex;
  justify-content: space-between;
}
.header-column {
  font-family: "Bebas Neue", sans-serif;
  font-size: 19px;
  line-height: 24px;
  font-weight: 500;
  color: #3d394a;
  padding-left: 0.5em;
  padding-right: 0;
  padding-top: 4px;
  letter-spacing: 0px;
}
.data-row > div:nth-of-type(2) {
  font-family: "Bebas Neue", sans-serif;
  font-size: 17px;
  line-height: 27px;
  font-weight: 500;
  color: #3f075c;
  background-color: #f1ecec;
  text-align: center;
  padding-top: 3px;
}
/* .data-column {
  font-family: "Bebas Neue", sans-serif;
  font-size: 17px;
  line-height: 27px;
  font-weight: 500;
  color: #3f075c;
  background-color: #f1ecec;
  text-align: center;
  padding-top: 3px;
} */
.data-row > div:nth-of-type(3) {
  text-align: center;
  padding-right: 0;
  padding-left: 0;
  display: flex;
  justify-content: center;
}
/* .status-column {
  text-align: center;
  padding-right: 0;
  padding-left: 0;
} */
.update-btn {
  font-family: "Bebas Neue", sans-serif;
  background-color: #755fbc;
  width: 80px;
  height: 25px;
  font-size: 15px;
  line-height: 19px;
  color: white;

  letter-spacing: 0.4px;
}
/* .completed-btn-disable {
  font-family: "Bebas Neue", sans-serif;
  background-color: #ffffff;
  width: 80px;
  height: 25px;
  font-size: 15px;
  line-height: 19px;
  color: #cbc6c6;
  border: none;
  letter-spacing: 0.4px;
} */

.on-process-status {
  height: 20px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 15px;
  line-height: 15px;
  color: #f7a502;
}
.completed-status {
  height: 20px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 15px;
  line-height: 15px;
  color: #259443;
}
.not-started-status {
  height: 20px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 15px;
  line-height: 15px;
  color: #bf2c1b;
}
.green-check-btn {
  height: 20px;
  width: auto;
  border: none;
  background: none;
}
.adjust-btn {
  height: 20px;
  width: auto;
  border: none;
  background: none;
}

/* modal Section------- */
.modal {
  margin-top: 50px;
}
.time-border {
  border-top: 1px solid #707070;
  height: auto;
}
.math-box {
  font-family: "Bebas Neue", sans-serif;
  font-size: 50px;
  line-height: 28px;
  font-weight: 500;
  color: #3f075c;
  background-color: #f1ecec;
  text-align: center;
  border-radius: 10px;
}
.new-time {
  font-family: "Bebas Neue", sans-serif;
  font-size: 19px;
  line-height: 27px;
  font-weight: 400;
  background-color: #f1ecec;
  text-align: center;
  letter-spacing: 0.4px;
  border: none;
}
.additional-info {
  width: 100%;
  height: 80px;
  background-color: #e6e6e6;
  border: none;
}
.start-btn {
  width: 126px;
  height: 33px;
  background: green 0% 0% no-repeat padding-box;
  border-radius: 10px;
  font: normal normal bold 17px/22px Source Sans Pro;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.set-est-start-btn {
  width: 170px;
  height: 33px;
  background: #755fbc 0% 0% no-repeat padding-box;
  border-radius: 10px;
  font: normal normal bold 17px/22px Source Sans Pro;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.confirm-btn {
  width: 120px;
  height: 33px;
  background: orange 0% 0% no-repeat padding-box;
  border-radius: 10px;
  font: normal normal bold 17px/22px Source Sans Pro;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.cancel-btn {
  width: 120px;
  height: 33px;
  background: red 0% 0% no-repeat padding-box;
  border-radius: 10px;
  font: normal normal bold 17px/22px Source Sans Pro;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.confirm-alert {
  font-family: "Bebas Neue", sans-serif;
  font-size: 19px;
  line-height: 19px;
  font-weight: 500;
  color: red;
  padding-top: 4px;
  letter-spacing: 0.4px;
  margin-bottom: 0;
}
.confirm-time {
  font-family: "Bebas Neue", sans-serif;
  font-size: 25px;
  line-height: 19px;
  font-weight: 500;
  color: #3f075c;
  padding-top: 4px;
  letter-spacing: 0.4px;
  margin-bottom: 0;
}
