/* accordion contents ============================================ */

.flight-box {
    padding: 0.2rem 0.2rem;
    box-shadow: 0px 3px 3px #00000029;
    border: 1px solid #707070;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 5px;
    position: relative;
}

.pin-mark {
    position: absolute;
    top: -20px;
    left: -25px;
    cursor: pointer;
}

.red-bell {
    width: 24px;
    height: 24px;
    position: absolute;
    top: -10px;
    right: -10px;
    /* cursor: pointer; */
}


/* Flight Preparation Box =============================== */

.flight-data-box {
    width: 100%;
    height: auto;
    min-height: 72px;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
}

.pin-mark>button {
    background: none;
    border: none;
}

.flight-number-box {
    width: 7%;
    height: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -4px;
}

.flight-number-box>div:nth-of-type(1) {
    padding-left: 5px;
    font: normal normal bold 20px/28px Poppins;
    letter-spacing: 0px;
    color: #572483;
    text-align: center;
}

.flight-number-box>div:nth-of-type(2) {
    padding-left: 5px;
    font: normal normal bold 16px/20px Poppins;
    letter-spacing: 0px;
    color: #572483;
    text-align: center;
    text-transform: uppercase;
}

.main-box {
    width: 68%;
    height: 72px;
    /* padding-top: 3px; */
    display: flex;
    flex-direction: column;
}


/* Status of all tasks===================================== */

.flight-task-status {
    height: auto;
    min-height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.flight-task-status>div {
    height: auto;
    min-height: 100%;
    width: 11%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.status-bar {
    width: 100%;
    height: 8px;
    background: #E6E6E6 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 10px;
}


/* Fligt Status Boxes========== */

.flight-task-status>div>div:nth-of-type(2) {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    display: none;
}

.flight-task-status>div>div:nth-of-type(2)>div {
    width: 100%;
    height: 24px;
    background: #E6E6E6 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 10px;
    text-align: center;
    font: normal normal 600 12px/20px Poppins;
    letter-spacing: 0px;
    color: #707070;
}


/* Count Down box============ */

.count-down-container {
    height: 23px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
}

.count-down-container>div:nth-of-type(1) {
    height: 23%;
    width: calc(55% + 48%/7);
    display: flex;
    align-items: center;
}

.count-down-container>div:nth-of-type(2) {
    height: 23%;
    width: calc(33% + 24%/7);
    display: flex;
    align-items: center;
}

.count-down-container>div>div:nth-of-type(1) {
    background: #E6E6E6 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 10px;
    width: calc(100% - 30px);
    height: 8px;
}

.count-down-container>div>div:nth-of-type(2) {
    width: 30px;
    height: 23px;
    text-align: right;
    font: normal normal 600 11px/23px Poppins;
    letter-spacing: 0px;
    color: #CA637A;
}

.count-down-container>div>div:nth-of-type(1)>div {
    width: 100%;
    height: 100%;
    background: #CA637A 0% 0% no-repeat padding-box;
    border-radius: 10px;
    float: right;
}


/* arrival Time Box=================== */

.arrival-time-box {
    height: auto;
    min-height: 72px;
    width: 7.8%;
    padding-top: 5px;
}

.arrival-time-box>div {
    width: 100%;
    height: 56px;
    background: #A2F6CA 0% 0% no-repeat padding-box;
    border: 1px solid #5FA980;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.arrival-time-box>div:nth-of-type(1)>div {
    text-align: center;
    font: normal normal 600 16px/22px Poppins;
    letter-spacing: 0px;
    color: #707070;
}


/* Next Flight Time Box=================== */

.next-flight-time-box {
    height: auto;
    min-height: 72px;
    width: 11%;
    padding-top: 5px;
}

.next-flight-time-box>div {
    width: 100%;
    height: 56px;
    background: #E6E6E6 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.next-flight-time-box>div>div {
    text-align: center;
    font: normal normal 600 15px/18px Poppins;
    letter-spacing: 0px;
    color: #707070;
}

.collapse-btn {
    width: 45px;
    height: 60px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.collapse-btn>img {
    cursor: pointer;
    transform-origin: center 18px;
    transform: rotate(180deg);
    transition: 0.2s;
}

@media (max-width: 1550px) {
    .flight-number-box>div:nth-of-type(1) {
        font: normal normal bold 16px/20px Poppins;
    }
    .flight-number-box>div:nth-of-type(2) {
        font: normal normal bold 12px/20px Poppins;
    }
    .flight-task-status>div>div:nth-of-type(2)>div {
        font: normal normal 600 10.5px/20px Poppins;
    }
    .arrival-time-box {
        width: 10%;
    }
    .arrival-time-box>div:nth-of-type(1)>div {
        font: normal normal 600 14px/22px Poppins;
    }
    .next-flight-time-box>div>div {
        font: normal normal 600 11px/18px Poppins;
    }
    .next-flight-time-box>div>div:nth-of-type(3) {
        font: normal normal 600 10px/18px Poppins;
    }
}