* {
  box-sizing: border-box;
}
/* body {
  font-size: 14px;
} */
html,
body {
  width: 100%;
  /* height: 100%; */
  margin: 0px;
  padding: 0px;
  display: flex;
  min-height: 100vh;
  height: auto;
  align-items: stretch;
  background-color: #dbdbdb;
}
/* side bar================================== */
aside {
  width: 200px;
  background-color: #572483;
  box-shadow: 3px 0px 6px #00000029;
  border-radius: 0px 20px 20px 0px;
}

/* main display=========================== */
main {
  width: inherit;
  padding: 15px 5px 0px 5px;
}

/* navbar ======================================== */
nav {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  border-bottom: 2px solid #3e075b;
}
nav > a {
  display: inline-block;
  text-decoration: none;
  font: normal normal 600 16px/32px Poppins;
  letter-spacing: 0px;
  color: #000000;
  width: 106px;
  text-align: center;
}
nav > .active-page {
  color: #3e075b;
  border-bottom: 4px solid #3e075b;
}
nav > .active-page:hover {
  color: #3e075b;
  border-bottom: 4px solid #3e075b;
}
nav > a:hover {
  color: #000000;
  border-bottom: 4px solid #000;
}
/* accordion ============================================ */
.accordion-item {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #707070;
}
.custom-accordion-button {
  width: 100%;
  height: 50px;
  border: none;
  background-color: transparent;
  font: normal normal bold 16px/32px Poppins;
  letter-spacing: 0px;
  color: #000000;
  text-align: left;
  padding-left: 25px;
}
.custom-accordion-button > img {
  margin-right: 15px;
  transition: transform 0.5s;
}
.accordion-body {
  padding: 0.2rem 0.2rem;
  box-shadow: 0px 3px 3px #00000029;
  border: 1px solid #707070;
  border-radius: 10px;
  background-color: #fff;
}

/* Flight Preparation Box =============================== */
.flight-prep-box {
  width: 100%;
  height: auto;
  min-height: 72px;

  display: flex;
  justify-content: space-between;
  position: relative;
}
.pin-mark {
  position: absolute;
  top: -15px;
  left: -15px;
  cursor: pointer;
}
.flight-number-box {
  width: 7%;
  height: 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flight-number-box > div:nth-of-type(1) {
  padding-left: 5px;
  font: normal normal bold 20px/28px Poppins;
  letter-spacing: 0px;
  color: #572483;
  text-align: center;
}
.flight-number-box > div:nth-of-type(2) {
  padding-left: 5px;
  font: normal normal bold 16px/20px Poppins;
  letter-spacing: 0px;
  color: #572483;
  text-align: center;
}
.airplane-icon-box {
  width: 50px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.airplane-icon-box > div {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e6e6e6 0% 0% no-repeat padding-box;
  border-radius: 10px;
  cursor: pointer;
}
.flight-task-status {
  height: auto;
  min-height: 72px;
  width: 75%;
  padding-top: 3px;
  /* background-color: darkgrey; */
  display: flex;
  justify-content: space-between;
}
.flight-task-status > div {
  height: auto;
  min-height: 72px;
  width: 11%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.status-bar {
  width: 100%;
  height: 8px;
  background: #e6e6e6 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 10px;
}
/* Fligt Status Boxes========== */
.flight-task-status > div > div:nth-of-type(2) {
  width: 100%;
  height: 72px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.flight-task-status > div > div:nth-of-type(2) > div {
  width: 100%;
  height: 24px;
  background: #e6e6e6 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 10px;
  text-align: center;
  font: normal normal 600 12px/20px Poppins;
  letter-spacing: 0px;
  color: #707070;
}
/* Count Down box============ */
.count-down-box {
  display: flex;
  width: 100%;
  height: 23px;
  align-items: center;
  /* justify-content: space-between; */
}
.count-down-box > div:nth-of-type(1) {
  text-align: left;
  font: normal normal 600 12px/23px Poppins;
  letter-spacing: 0px;
  color: #ca637a;
  width: 25%;
}
.count-down-box > div:nth-of-type(2) {
  background: #e6e6e6 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 10px;
  width: 75%;
  height: 8px;
}
.count-down-box > div:nth-of-type(2) > div {
  width: 100%;
  height: 100%;
  background: #ca637a 0% 0% no-repeat padding-box;
  border-radius: 10px;
}
/* Departure Time Box */
.departure-time-box {
  height: auto;
  min-height: 72px;
  width: 10%;
  padding-top: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.departure-time-box > div:nth-of-type(1) {
  width: 100%;
  height: 56px;
  background: #a2f6ca 0% 0% no-repeat padding-box;
  border: 1px solid #5fa980;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.departure-time-box > div:nth-of-type(1) > div {
  text-align: center;
  font: normal normal 600 16px/22px Poppins;
  letter-spacing: 0px;
  color: #5fa980;
}
/* Update Time Button===== */
.update-time-btn {
  width: 100%;
  height: 24px;
  background: #cbb1f9 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #3e075b;
  border-radius: 10px;
  text-align: center;
  font: normal normal 600 15px/20px Poppins;
  letter-spacing: 0px;
  color: #3e075b;
  cursor: pointer;
}
.collapse-btn-box {
  width: 50px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.collapse-btn-box > img {
  cursor: pointer;
  transform: rotate(180deg);
  transition: 0.5s;
}

/* Form Group */
.flight-info-inputs {
  width: 75%;
  height: 72px;
  margin-left: 11%;
  display: flex;
  justify-content: space-between;
}
.flight-info-inputs > div {
  height: 100%;
}
.passenger-numbers {
  width: 11%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  font: normal normal 600 16px/32px Poppins;
  letter-spacing: 0px;
  color: #3e075b;
}
.passenger-numbers > img {
  width: 36px;
  height: 21px;
}
.form-group {
  background: #cbb1f9 0% 0% no-repeat padding-box;
  box-shadow: 0px 7px 4px #00000029;
  border: 1px solid #3e075b;
  border-radius: 10px;
  padding-left: 0.5%;
  padding-right: 0.5%;
  display: flex;
  justify-content: space-between;
}
.form-group > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 112px;
}
.form-group > form > label {
  font: normal normal 600 14px/20px Poppins;
  letter-spacing: 0px;
  color: #3e075b;
  text-align: center;
}
.form-group > form > input {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  height: 24px;
  text-align: center;
}

.flight-info-inputs > div:nth-of-type(2) {
  width: 23.5%;
}

.flight-info-inputs > div:nth-of-type(3) {
  width: 23.5%;
}
#flight-time {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  height: 24px;
  text-align: center;
  padding-left: 18px;
  padding-right: 18px;
}
.controlsDivStyle {
  display: none !important;
}
.flight-info-inputs > div:nth-of-type(4) {
  width: 36.5%;
}
@media (max-width: 1480px) {
  .flight-number-box > div:nth-of-type(1) {
    font: normal normal bold 16px/20px Poppins;
  }
  .flight-number-box > div:nth-of-type(2) {
    font: normal normal bold 12px/20px Poppins;
  }
  .flight-task-status > div > div:nth-of-type(2) > div {
    font: normal normal 600 10.5px/20px Poppins;
  }
  .count-down-box > div:nth-of-type(1) {
    font: normal normal 600 10px/23px Poppins;
    width: 33%;
  }
  .update-time-btn {
    font: normal normal 600 12px/20px Poppins;
  }
  .passenger-numbers {
    font: normal normal 600 14px/32px Poppins;
  }
  .form-group > form {
    width: 90px;
  }
  .form-group > form > label {
    font: normal normal 600 12px/20px Poppins;
  }
}
