* {
    box-sizing: border-box;
}


/* body {
  font-size: 14px;
} */

html,
body {
    width: 100%;
    /* height: 100%; */
    margin: 0px;
    padding: 0px;
    display: flex;
    min-height: 100vh;
    height: auto;
    align-items: stretch;
    background-color: #dbdbdb;
}


/* side bar================================== */

aside {
    width: 200px;
    background-color: #572483;
    box-shadow: 3px 0px 6px #00000029;
    border-radius: 0px 20px 20px 0px;
}


/* main display=========================== */

main {
    width: inherit;
    padding: 15px 5px 0px 5px;
}


/* navbar ======================================== */

nav {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    border-bottom: 2px solid #3e075b;
}

nav>a {
    display: inline-block;
    text-decoration: none;
    font: normal normal 600 16px/32px Poppins;
    letter-spacing: 0px;
    color: #000000;
    width: 106px;
    text-align: center;
}

nav>.active-page {
    color: #3e075b;
    border-bottom: 4px solid #3e075b;
}

nav>.active-page:hover {
    color: #3e075b;
    border-bottom: 4px solid #3e075b;
}

nav>a:hover {
    color: #000000;
    border-bottom: 4px solid #000;
}


/* accordion ============================================ */

.accordion-item {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #707070;
}

.custom-accordion-button {
    width: 100%;
    height: 50px;
    border: none;
    background-color: transparent;
    font: normal normal bold 16px/32px Poppins;
    letter-spacing: 0px;
    color: #000000;
    text-align: left;
    padding-left: 25px;
}

.custom-accordion-button>img {
    margin-right: 15px;
    transition: transform 0.5s;
}

.flight-box {
    padding: 0.2rem 0.2rem;
    box-shadow: 0px 3px 3px #00000029;
    border: 1px solid #707070;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 5px;
    position: relative;
}


/* Flight Preparation Box =============================== */

.flight-data-box {
    width: 100%;
    height: auto;
    min-height: 72px;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
}

.pin-mark {
    position: absolute;
    top: -20px;
    left: -25px;
    cursor: pointer;
}

.pin-mark>button {
    background: none;
    border: none;
}

.flight-number-box {
    width: 7%;
    height: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -4px;
}

.flight-number-box>div:nth-of-type(1) {
    padding-left: 5px;
    font: normal normal bold 20px/28px Poppins;
    letter-spacing: 0px;
    color: #572483;
    text-align: center;
}

.flight-number-box>div:nth-of-type(2) {
    padding-left: 5px;
    font: normal normal bold 16px/20px Poppins;
    letter-spacing: 0px;
    color: #572483;
    text-align: center;
    text-transform: uppercase;
}

.airplane-icon-box {
    width: 50px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -3px;
}

.airplane-icon-box>div {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E6E6E6 0% 0% no-repeat padding-box;
    border-radius: 10px;
    cursor: pointer;
}

.main-box {
    width: 75%;
    height: auto;
    /* padding-top: 3px; */
    display: flex;
    flex-direction: column;
}


/* Status of all tasks===================================== */

.flight-task-status {
    height: auto;
    min-height: 72px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.flight-task-status>div {
    height: auto;
    min-height: 72px;
    width: 11%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.status-bar {
    width: 100%;
    height: 8px;
    background: #E6E6E6 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 10px;
}


/* Fligt Status Boxes========== */

.flight-task-status>div>div:nth-of-type(2) {
    width: 100%;
    height: 72px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    display: none;
}

.flight-task-status>div>div:nth-of-type(2)>div {
    width: 100%;
    height: 24px;
    background: #E6E6E6 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 10px;
    text-align: center;
    font: normal normal 600 12px/20px Poppins;
    letter-spacing: 0px;
    color: #707070;
}


/* Count Down box============ */

.count-down-box {
    display: flex;
    width: 100%;
    height: 23px;
    align-items: center;
    justify-content: space-between;
}

.count-down-box>div:nth-of-type(2) {
    text-align: center;
    font: normal normal 600 11px/23px Poppins;
    letter-spacing: 0px;
    color: #CA637A;
    width: 23%;
}

.count-down-box>div:nth-of-type(1) {
    background: #E6E6E6 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 10px;
    width: 77%;
    height: 8px;
}

.count-down-box>div:nth-of-type(1)>div {
    width: 100%;
    height: 100%;
    background: #CA637A 0% 0% no-repeat padding-box;
    border-radius: 10px;
    float: right;
}


/* Update Time Form ==================================== */

.time-update-form {
    height: auto;
    min-height: 72px;
    width: 100%;
    display: flex;
    flex-direction: column;
    display: none;
    /* border: 1px solid red; */
}

.time-update-inputs {
    height: auto;
    min-height: 72px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.time-update-inputs>div {
    height: auto;
    min-height: 95px;
    width: 11%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.time-update-inputs>div>div {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.time-update-inputs>div>div>label {
    text-align: center;
    font: normal normal 600 12px/20px Poppins;
    letter-spacing: 0px;
    color: #707070;
}

.time-update-inputs>div>div>input {
    height: 24px;
    width: 100%;
    background: #E6E6E6 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 10px;
    text-align: center;
    font: normal normal 600 12px/20px Poppins;
    letter-spacing: 0px;
    color: #707070;
}

.time-update-buttons {
    height: auto;
    min-height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.time-update-buttons>button {
    height: 24px;
    width: 20%;
    background: #FCC1CA 0% 0% no-repeat padding-box;
    border: 1px solid #CA637A;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    text-align: center;
    font: normal normal 600 12px/20px Poppins;
    letter-spacing: 0px;
    color: #3e075B;
    display: none;
}

.time-update-buttons>div:nth-of-type(1) {
    height: 24px;
    width: 20%;
    background: #CBB1F9 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #3E075B;
    border-radius: 10px;
    text-align: center;
    font: normal normal 600 12px/20px Poppins;
    letter-spacing: 0px;
    color: #3e075B;
    cursor: pointer;
}


/* .time-update-buttons>div:nth-of-type(2) {
    height: 24px;
    width: 11%;
    background: #E6E6E6 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 10px;
    text-align: center;
    font: normal normal 600 12px/20px Poppins;
    letter-spacing: 0px;
    color: #707070;
    cursor: pointer;
} */


/* Aircraft Status Box ==================================*/

.aircraft-status {
    height: auto;
    min-height: 65px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 48px; */
    display: none;
}

.aircraft-registration {
    width: 9%;
    height: 40px;
    border: 1px solid #3E075B;
    border-radius: 10px;
    text-align: center;
    font: normal normal bold 14px/37px Poppins;
    letter-spacing: 0px;
    color: #572483;
    text-transform: uppercase;
}

.aircraft-movement {
    width: 21.4%;
    height: 56px;
    border: 1px solid #3E075B;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}

.aircraft-movement>div>div:nth-of-type(1) {
    text-align: center;
    font: normal normal bold 15px/28px Poppins;
    letter-spacing: 0px;
    color: #572483;
}

.aircraft-movement>div>div:nth-of-type(2) {
    text-align: center;
    font: normal normal bold 14px/20px Poppins;
    letter-spacing: 0px;
    color: #000000;
}

.aircraft-repair {
    width: 27.2%;
    height: 56px;
    border: 1px solid #3E075B;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}

.aircraft-repair>div>div:nth-of-type(1) {
    text-align: center;
    font: normal normal bold 15px/28px Poppins;
    letter-spacing: 0px;
    color: #572483;
}

.aircraft-repair>div>div:nth-of-type(2) {
    text-align: center;
    font: normal normal bold 14px/20px Poppins;
    letter-spacing: 0px;
    color: #000000;
}

.power-up-status {
    width: 12.9%;
    height: 24px;
    background: #E6E6E6 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 10px;
    text-align: center;
    font: normal normal bold 14px/20px Poppins;
    letter-spacing: 0px;
    color: #707070;
}

.release-status {
    width: 12.9%;
    height: 24px;
    background: #E6E6E6 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 10px;
    text-align: center;
    font: normal normal bold 14px/20px Poppins;
    letter-spacing: 0px;
    color: #707070;
}


/* Departure Time Box=================== */

.departure-time-box {
    height: auto;
    min-height: 72px;
    width: 10%;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.departure-time-box>div:nth-of-type(1) {
    width: 100%;
    height: 56px;
    background: #A2F6CA 0% 0% no-repeat padding-box;
    border: 1px solid #5FA980;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.departure-time-box>div:nth-of-type(1)>div {
    text-align: center;
    font: normal normal 600 16px/22px Poppins;
    letter-spacing: 0px;
    color: #5FA980;
}

.update-time-btn {
    width: 100%;
    height: 24px;
    background: #CBB1F9 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #3E075B;
    border-radius: 10px;
    text-align: center;
    font: normal normal 600 15px/20px Poppins;
    letter-spacing: 0px;
    color: #3E075B;
    cursor: pointer;
    display: none;
}

.collapse-btn {
    width: 50px;
    height: 60px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.collapse-btn>img {
    cursor: pointer;
    transform-origin: center 18px;
    transform: rotate(180deg);
    transition: 0.2s;
}


/* Form Group */

.flight-info-inputs {
    width: 75%;
    height: 72px;
    margin-left: 11%;
    display: flex;
    justify-content: space-between;
    display: none;
}

.flight-info-inputs>div {
    height: 100%;
}

.passenger-numbers {
    width: 11%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    font: normal normal 600 16px/32px Poppins;
    letter-spacing: 0px;
    color: #3E075B;
}

.passenger-numbers>img {
    width: 36px;
    height: 21px;
}

.form-group {
    background: #CBB1F9 0% 0% no-repeat padding-box;
    box-shadow: 0px 7px 4px #00000029;
    border: 1px solid #3E075B;
    border-radius: 10px;
    padding-left: 0.5%;
    padding-right: 0.5%;
    display: flex;
    justify-content: space-between;
}

.form-group>form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 112px;
    position: relative;
}

.form-group>form>label {
    font: normal normal 600 14px/20px Poppins;
    letter-spacing: 0px;
    color: #3E075B;
    text-align: center;
}

.form-group>form>input {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    height: 24px;
    text-align: center;
}

.form-group>form>button {
    height: 22px;
    background: #A5A6B5 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    font: normal normal normal 16px/18px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    position: absolute;
    bottom: -10px;
    align-self: center;
    width: 90%;
    display: none;
}

.flight-info-inputs>div:nth-of-type(2) {
    width: 23.5%;
}

.flight-info-inputs>div:nth-of-type(3) {
    width: 23.5%;
}

.html-duration-picker-wrapper>.html-duration-picker {
    background: #FFFFFF 0% 0% no-repeat padding-box !important;
    border-radius: 10px !important;
    opacity: 1;
    height: 24px!important;
    text-align: center;
    padding-left: 18px;
    padding-right: 18px;
    margin: 0 !important;
}

.controlsDivStyle {
    display: none !important;
}

.form-group>form>.html-duration-picker-wrapper {
    width: 100%;
}

.flight-info-inputs>div:nth-of-type(4) {
    width: 36.5%;
}

@media (max-width: 1550px) {
    .flight-number-box>div:nth-of-type(1) {
        font: normal normal bold 16px/20px Poppins;
    }
    .flight-number-box>div:nth-of-type(2) {
        font: normal normal bold 12px/20px Poppins;
    }
    .flight-task-status>div>div:nth-of-type(2)>div {
        font: normal normal 600 10.5px/20px Poppins;
    }
    .count-down-box>div:nth-of-type(1) {
        width: 72%;
    }
    .count-down-box>div:nth-of-type(2) {
        font: normal normal 600 10px/23px Poppins;
        width: 28%;
    }
    .update-time-btn {
        font: normal normal 600 12px/20px Poppins;
    }
    .passenger-numbers {
        font: normal normal 600 14px/32px Poppins;
    }
    .form-group>form {
        width: 90px;
    }
    .form-group>form>label {
        font: normal normal 600 12px/20px Poppins;
    }
    .form-group>form>label {
        font: normal normal 600 12px/20px Poppins;
    }
    .form-group>form>.html-duration-picker {
        width: 100%;
    }
}